* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #6563ff;
}

.game-box {
    width: 472px;
    margin-left: 50%;
    margin-top: 10%;
    transform: translateX(-50%);
    background-color: #f8f8f8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
@media (max-width: 500px) {
    .game-box {
        width: 248px;
    }
}


.game-box .row>div, .front, .back {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-box .row>div {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 6px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #d9d2ff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.front, .back {
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.2s linear;
    -webkit-transition: transform 0.2s linear;
    -moz-transition: transform 0.2s linear;
    -ms-transition: transform 0.2s linear;
    -o-transition: transform 0.2s linear;
}


.front i {
    font-size: 40px;
    color: #6563ff;
}

.back {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
}
.back img {
    max-width: 50px;
}


.col-sm-3.flip .front, .col-sm-3.done .front {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.col-sm-3.flip .back, .col-sm-3.done .back {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
}


@keyframes shake {
    0%,50% {
        transform: translateX(5px);
        -webkit-transform: translateX(5px);
        -moz-transform: translateX(5px);
        -ms-transform: translateX(5px);
        -o-transform: translateX(5px);
}
    25%,75% {
        transform: translateX(-5px);
        -webkit-transform: translateX(-5px);
        -moz-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        -o-transform: translateX(-5px);
}
    100% {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
}
}

.diff {
    animation: shake .5s;
    -webkit-animation: shake .5s;
}